/* ------media queries---- */
@media screen and (max-width: 1024px) {
  .hamburger .line {
    height: 4.5px;
    display: block;
    width: 30px;
    background-color: var(--clr-primary);
    margin: 5px 0px;
    transition: all 0.5s linear;
  }
  .body.open-menu {
    overflow: hidden;
  }
  .body.open-menu .line:nth-child(2) {
    opacity: 0;
  }
  .body.open-menu .line:nth-child(1) {
    transform: translateY(6.5px) rotate(45deg);
  }
  .body.open-menu .line:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
  }
  .header-inner {
    display: none;
  }
  .body.open-menu .header-inner {
    display: block;
    position: fixed;
    background: #fff;
    /* top: 71px; */
    width: 300px;
    bottom: 0;
    right: -1px;
    transition: all 0.5s;
    overflow: auto;
    text-align: left;
    padding: 20px;
  }
  .header-inner .link-container ul {
    display: inline-block;
    width: 100%;
  }
  .header-inner li {
    padding: 8px 0;
  }
  .header-inner li:hover {
    background-color: var(--grey-light);
  }
}

@media screen and (max-width: 767px) {
  .logo-wrap .logo {
    max-width: 150px;
  }
  .hamburger .line {
    height: 3px;
    width: 23px;
  }
  .body.open-menu .line:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .body.open-menu .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  .card-items {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer .link-container,
  .footer-content p {
    flex: 0 0 100%;
    max-width: 100%;
  }
  h1 {
    font-size: 36px;
    margin-bottom: 12px;
  }
  .upper-banner .para-wrapper {
    padding: 18px;
  }
  .upper-banner p {
    font-size: 20px;
    line-height: 36px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 12px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .btn {
    font-size: 16px;
  }
  .white-btn {
    font-size: 20px;
  }
}
@media screen and (max-width: 567px) {
  .body.open-menu .header-inner {
    top: 69px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .card-items,
  .footer .link-container,
  .footer-content p {
    flex: 0 0 100%;
    max-width: 100%;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .upper-banner .para-wrapper {
    padding: 17px;
  }
  .upper-banner p {
    font-size: 18px;
    line-height: 32px;
  }
  h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .white-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .hamburger .line {
     height: 3px;
     width: 15px;
     margin: 3px;
  }
  .body.open-menu .line:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
  }
  .body.open-menu .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  h1 {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .upper-banner .para-wrapper {
    padding: 15px;
  }
  .upper-banner p {
    font-size: 16px;
    line-height: 28px;
  }
  .about-section p {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .btn {
    padding: 8px 16px;
    font-size: 12px;
  }
  .white-btn {
    font-size: 16px;
  }
  .card-block p {
    font-size: 16px;
  }
  .link-container ul {
    display: inline-block;
    margin: 12px 0;
  }
}
